<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>

{% load static %}
  <script src="{% static "/websocket.js" %}"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Ressource Gestion</a>
    </div>
    <ul class="nav navbar-nav">
      {% if user.is_authenticated %}
        <li><a href="/reserve">Reserve a ressource</a></li>
        <li><a href="/myreservation">My reservations</a></li>
        <li><a id="username" username="{{ user.username }}">{{ user.username }}</a></li>
        <li><a class="btn" href="/api-auth/logout/?next=/">SIGN OUT</a></li>
	    {% else %}
        <li><a class="btn" href="{% url 'social:begin' 'google-oauth2' %}">SIGN IN</a></li>
	    {% endif %}

    </ul>
  </div>
</nav>

{% block content %}
{% endblock %}
