{% extends 'reservation/layout.html' %}

{% block content %}

  <div class="container">
  	{% if reservation_list %}
  			<h4>Your reservation(s) </h4>
  	    <ul>
  	    {% for reservation in reservation_list %}
  	        <li>
              <p>{{ reservation.reason }}</p>
              <p>Start : {{ reservation.startTime }}</p>
              <p>End : {{ reservation.endTime }}</p>
              <p>Room : {{ reservation.room }}</p>
              <button class="btn btn-danger" idResa="{{ reservation.id }}" >Delete</button>
            </li>
            <br>
  	    {% endfor %}
  	    </ul>


        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        {% load static %}
        <script src="{% static "/control_myReservation.js" %}"></script>

  	{% else %}
  	    <p>You don't have any reservation yet</p>
  	{% endif %}
  </div>


{% endblock %}
