{% extends 'reservation/layout.html' %}

{% block content %}

  <div class="container">
  	{% if reservation_list %}
  			<h4>Your reservation(s) </h4>
  	    <ul>
  	    {% for reservation in reservation_list %}
  	        <li>
              <p>{{ reservation.reason }}</p>
              <p>Start : {{ reservation.startTime }}</p>
              <p>End : {{ reservation.startTime }}</p>
              <p>Room : {{ reservation.room }}</p>
              <button class="btn btn-danger" idResa="{{ reservation.id }}" >Delete</button>
            </li>
            <br>
  	    {% endfor %}
  	    </ul>


        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

        <script>

          // We handle the csrf token to use AJAX
          var csrftoken = Cookies.get('csrftoken');
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
          });

          // We send the DELETE request with AJAX
          $('.btn').on('click', function () {
            $.ajax({
                type: 'DELETE',
                url: '/reservations/' + $(this).attr('idResa') + '/',
                success: function() {
                  window.location.replace("/myreservation");
                },
                error: function (err) {
                  console.log("Error: ",err);
                }
            })
          })
        </script>

  	{% else %}
  	    <p>You don't have any reservation yet</p>
  	{% endif %}
  </div>


{% endblock %}
